main{
    padding: 0;
    margin: 0;
}
.top-main{
    margin: 0;
    padding: 0;
    position: relative;
}
.top-main .hero{
    position: relative;
    background-color: transparent;
    position: absolute;
    text-align: center;
    right: 50%;
    top: 0;
    transform: translateX(50%);
    color: white;
    padding: auto  0 0 0;
} 
.top-main h1{
    font-weight: bolder;
    font-size: 4vw;
    margin: 0;
}
.top-main h3{
    top: 0;
    margin: 0;
    font-size: 1.5vw;

}

.top-main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carlist-divider{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center ;
    margin-top: 50px;
}
.carlist-divider i{
    margin-right: 5px;
}

.carlist-divider h4{
    margin: 0;
    display: inline-block;
    font-size: 1.4vw;
}


